<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0f5eb6c91289409cb59128ae160b8ceb {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>    
    
            <div class="folium-map" id="map_0f5eb6c91289409cb59128ae160b8ceb" ></div>
        
</body>
<script>    
    
            var map_0f5eb6c91289409cb59128ae160b8ceb = L.map(
                "map_0f5eb6c91289409cb59128ae160b8ceb",
                {
                    center: [37.7589107, -122.4147198],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_dbafdfd787cf42aa86fd993ac3c8baeb = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0f5eb6c91289409cb59128ae160b8ceb);
        
    
            var marker_cluster_5383d495327e4869bba27b9ef45ab159 = L.markerClusterGroup(
                {}
            );
            map_0f5eb6c91289409cb59128ae160b8ceb.addLayer(marker_cluster_5383d495327e4869bba27b9ef45ab159);
        
    
            var marker_df32e79fb251481c8f6e1c825e1086e4 = L.marker(
                [37.7589107, -122.4147198],
                {}
            ).addTo(marker_cluster_5383d495327e4869bba27b9ef45ab159);
        
    
        var popup_ff649fd297a44dfa8e8e9087d2a1dc14 = L.popup({"maxWidth": "100%"});

        
            var html_2b232f7c511f4fea968c5b22364e8afc = $(`<div id="html_2b232f7c511f4fea968c5b22364e8afc" style="width: 100.0%; height: 100.0%;">20th and Folsom Streets</div>`)[0];
            popup_ff649fd297a44dfa8e8e9087d2a1dc14.setContent(html_2b232f7c511f4fea968c5b22364e8afc);
        

        marker_df32e79fb251481c8f6e1c825e1086e4.bindPopup(popup_ff649fd297a44dfa8e8e9087d2a1dc14)
        ;

        
    
    
            marker_df32e79fb251481c8f6e1c825e1086e4.bindTooltip(
                `<div>
                     20th and Folsom Streets
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_47c733c788fb40f4bd66ce2331187c49 = L.marker(
                [37.7589107, -122.4147198],
                {}
            ).addTo(marker_cluster_5383d495327e4869bba27b9ef45ab159);
        
    
        var popup_57b2ef7ab7f04ea3ba37e1d7d0cc68a2 = L.popup({"maxWidth": "100%"});

        
            var html_c9920eb2274248c88b5db099d35a04ad = $(`<div id="html_c9920eb2274248c88b5db099d35a04ad" style="width: 100.0%; height: 100.0%;">Golden Gate Park</div>`)[0];
            popup_57b2ef7ab7f04ea3ba37e1d7d0cc68a2.setContent(html_c9920eb2274248c88b5db099d35a04ad);
        

        marker_47c733c788fb40f4bd66ce2331187c49.bindPopup(popup_57b2ef7ab7f04ea3ba37e1d7d0cc68a2)
        ;

        
    
    
            marker_47c733c788fb40f4bd66ce2331187c49.bindTooltip(
                `<div>
                     Golden Gate Park
                 </div>`,
                {"sticky": true}
            );
        
</script>